<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-item>
    <ion-title>
      Home
    </ion-title>
    <ion-label>{{ formattedDate }}</ion-label>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content class="home">
    <ion-card class="welcome-card">
        <ion-item>
         <ion-label class="user" color="primary">Register</ion-label>
        </ion-item>
      <ion-card-header>
        <ion-item>
          <ion-label class="inp" position="floating">First Name</ion-label>
          <ion-input type="text" [(ngModel)]="firstname"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label class="inp" position="floating">Last Name</ion-label>
          <ion-input type="text" [(ngModel)]="lastname"></ion-input>
        </ion-item>
        
         <ion-button full class="btn" color="success"  (click)="addItem({name: firstname, title: lastname})" >Submit</ion-button>
        
      </ion-card-header>
      <ion-card-content>
        <p>Now that your app has been created, you'll want to start building out features and components. Check out some of the resources below for next steps.</p>
        <!-- <ion-list>
          <ion-item *ngFor="let item of items">
            {{item.name}} {{item.title}}
          </ion-item>
        </ion-list> -->
        <ion-grid>
          <ion-row>
            <ion-col class="tbl-hd" >First Name</ion-col>
            <ion-col class="tbl-hd" >Last Name</ion-col>
          </ion-row>
          <ion-row *ngFor="let item of items">
              <ion-col>{{item.name}}</ion-col>
              <ion-col>{{item.title}}</ion-col>
            </ion-row>

        </ion-grid>
      </ion-card-content>
    </ion-card>
    
</ion-content>
